<%= render 'layouts/navbar' %>

<div class="container">
    <div class="row mt-3">
    <div class="col-md-3 border">
        col-md-3
    </div>
    <div class="col-md-6">
      <p id="notice"><%= notice %></p>

      <div class="card rounded-sm mb-3">
        <div class="card-header post-header bg-white flex pt-2">
        <%= image_tag("https://i.pravatar.cc/300?u=#{@image_post.user.email}", :size => "35x35", :class => "rounded-circle mr-1") %>
        <%= @image_post.user.name %>
        </div>
        <div class="card-body pt-0">
          <p class="card-text">
              <%= @image_post.content %>
          </p>
        </div>
        <% if current_user.id == @image_post.user.id %>
        <div class="card-footer my-footer bg-white">
        <%= link_to "Edit", edit_image_post_path(@image_post), class: "px-5 py-1" %>
        <%= link_to "Delete", image_post_path(@image_post), method: :delete, class: "px-5 py-1", data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to 'Back', image_posts_path %>
      </div>
    </div>
    <div class="col-md-3 border">
        col-md-3
    </div>
    </div>
</div>