<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @image_post.content %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @image_post.picture %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_post.user %>
</p>

<%= link_to 'Edit', edit_image_post_path(@image_post) %> |
<%= link_to 'Back', image_posts_path %>
